.card{
    width: 200px;
    height: 200px;
    display: inline-block;
    margin: 10px;
    border: 2px solid black;
    border-radius: 5px;
    box-shadow: 5px 6px 9px black ;
    transition: 1.5s;
}
.desc{
    padding: 0 2px 0 2px;
}
img{
    width: 60%; 
    padding-left:40px ;
    border-radius: 5px 5px 0 0;
}
.card:hover{
    box-shadow: 10px 12px 18px black;
}