/* h2{
    display: inline;
}
span{
    display: block;
} */
span{
    background-color: lime;
    border: 2px solid black;
    height: 100px;
    width: 200px;
    padding: 50px;
    margin: 2px;
    display: block;
}
