div{
    height: 200px;
    width: 200px;
    background-color: rgb(60, 255, 60);
    transition:0.5s;
    transition-delay: 1s;
}
div:hover{
    background-color: black;
    border-radius: 50%;
}

#TF{
    height: 200px;
    width: 200px;
    background-color: rgb(60, 255, 60);
    margin: 0 auto;
    margin-top: 10px;
    transition: margin-top 2s ease-in 0.2s;
}
#TF:hover{
    margin-top: 400px;
    background-color: aqua;
}