div{
    height: 200px;
    width: 200px;
    border: 5px solid black;
    text-align: center;
}
#one{
    background-color: royalblue;
    position: relative;
    z-index: 1;
}
#two{
    background-color: coral;
    position: relative;
    bottom: 50px;
}
#three{
    background-color: darkcyan;
    position: relative;
}